@charset "UTF-8";
/*Configurações Globais*/
* {
    margin: 0;    
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex: 1 1 100vw;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 20px;
    overflow-x: hidden;
}

/*Cabelçalho*/
#set-off {
    flex: 1 1 100vw;
    background-color: black;
    color: white;
    padding: 19px 5px;
    text-align: center;
    width: 100vw;
}
/*Botão para remover a promoção*/
#proposal {
    width: 100%;    
    position: relative;
}
#remove {
    position: absolute;
    transform: translate(290px, 1px);
    background: transparent;
    color: white;
    border: none;
    margin-left: 30px;
    font-size: 15pt;
    cursor: pointer;
}

/*Marca e Botão*/
#marcaBotao {
    display: flex;
    flex-direction: row;
}
/*Icon de Usuário e compras*/
.icon {
    margin: 5px 10px;
    font-weight: bold;
}
/*id do link dentro do parágrafo*/
#i-link {
    color: white;
    padding-left: 5px;
}

header {
    flex-wrap: wrap;
    display: flex;
    flex: 1 1 100vw;
    align-items: center;
    justify-content: space-between;
    margin-top: 5px;
    padding: 0px 80px;
    height: 48px;
    width: 100vw;
}
/*Logo*/
h1 {
    color: black;
    padding-left: 10px;
    width: 150px;
    font-family: integral CF;
    font-weight: 700;
    font-style: bold;
    font-size: 2em;
    justify-content: center;
}
/*Menu*/
nav {
    color: black;
    font-size: 1em;
    width: 321px;
    height: 22px;
    font-weight: 400;
    margin: 10px 0px 0px 10px;
    transition: transform 0.3s ease-in;
}
nav > a {
    text-decoration: none;
    color: black;
    height: 56px;
    font-weight: 400;
    font-size: 1em;
    width: 100%;
    margin-right: 10px;
}
/*Botão com mais informações*/
#maisProdutos {
    transform: rotate(30px);
    background: transparent;
    border: none;
    margin-left: 3px;
    font-weight: bold;
    font-size: 1em;
}
/*Barra de Pesquisa*/
/*Div que contém o botão e o input de pesquisa*/
#ucp {
    display: flex;
    flex-direction: row;
    position: relative;
    margin-top: 5px;
}
#imageSearch {
    position: absolute;
    transform: translate(8px, -5px);
    width: 24px;
    height: 24px;
}
#inletsearch {
    position: absolute;
    transform: translate(10px, 5px);
}
#searchmenu {
    position: relative;
    min-width: 577px;
    position: relative;
    background-color: rgba(211, 199, 199, 0.308);
    padding: 3px 10px;
    border-radius: 62px;
    height: 48px;    
}
/*Botão com a imagem de Lupa*/
#lupa {
    display: none;
}

button#search {
    outline: none;
    border: none;
    background: transparent;
    cursor: pointer;    
}
/*Input da barra de pesquisa*/
#inletsearch {
    border: none;
    outline: none;
    flex-grow: 1;
    flex-shrink: 1;
    color: black;
    position: absolute;
    top: 25%;
    left: 40px;
    background: transparent;
}
/*Icones de pesquisa e outras coisas*/
#icon {
    margin-top: 7px;
}
/*Conteúdo do site*/
main {
    display: flex;
    flex: 1 1 100vw;
    flex-wrap: wrap;
    flex-direction: column;
    width: 100vw;
    justify-content: center;
}
/*Trabalhando as imagens*/
#couple {
    background-color: rgba(128, 128, 128, 0.288);
}
#coupleImage {
    max-width: 100%;
    display: block;
}
#call-letters {
    position: relative;
    background-color: rgba(128, 128, 128, 0.219);
}

#letters {
    position: absolute;
    top: 40%;
    left: 6.5%;
    max-width: 650px;
}

#main-letters {
    font-size: 45pt;
    font-weight: bold;
    max-width: 577px;
}
.down-letters {
    margin-top: 20px;
    max-width: 545px;
}
/*Botão de comprar agora*/
#btnBuy {
    border: none;
    background: transparent;
    color: white;
    background-color: black;
    padding: 0 40px;
    height: 50px;
    border-radius: 30px;
    width: 200px;
    margin-left: 20px;
    margin-top: 20px;
    cursor: pointer;
    margin-bottom: 35px;
}
/*Informações sobre o alcance das marcas*/
#information {
    display: flex;
    width: 100vw;
    margin: auto;
    gap: 23px;
    font-size: 15pt;
    flex-wrap: wrap;
    margin: 20px 0px;
}

/*Trabalhando com as Marcas*/
#marcas {
    background-color: black;
    color: white;
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
    padding: 20px;
    gap: 40px;
    justify-content: space-evenly;
    height: 122px;
    align-items: center;
    width: 100vw;
}
.marca {
    font-size: 15pt;
    padding: 0px 20px;
}
/*Trabalhando com os produtos*/
h2 {
    width: 100vw;
    text-align: center;
    font-size: 48px;
    font-weight: 700;
    margin: 80px 0px 30px 0px;
}
#produtos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100vw;
}
.produtos {
    background-color: rgba(128, 128, 128, 0.24);
    width: 295px;
    height: 298px;
    border-radius: 20px;
    margin: 10px 5px 10px 5px;
}

.roupas {
    width: 295px;
    height: 298px;
}
.descrition {
    margin: 10px;
}
#oculto {
    display: flex;
    flex-wrap: wrap;
    width: 50%;
    box-sizing: border-box;
    gap: 25px;
}
/*Trabalhando os Descontos das Roupas*/
.dwd {
    display: flex;
    gap: 10px;
    width: 200px;
    height: 32px;
    margin-top: 5px;
}
.antigoP {
    text-decoration: line-through;
    color: rgba(0, 0, 0, 0.37);
    font-weight: bold;
    font-size: 24px;
}
.percentagemD {
    background-color: #ff33331e;
    font-size: 12px;
    font-weight: 500;
    padding: 6px 14px;
    border-radius: 30px;
    color: #FF3333;
    font-size: 12px;
}
.preco {
    font-weight: 700;
    font-size: 24px;
}
/*Trabalhando com o Ver mais*/
.mais {
    border: 1px solid rgba(0, 0, 0, 0.356);
    text-align: center;
    padding: 16px 54px;
    margin: 50px auto;
    border-radius: 62px;
    background: transparent;
    cursor: pointer;
    justify-content: center;
    display: flex;
    flex: 1 1 ;
    align-items: center;
}
/*LInha Divisória*/

#openMenu, #closeMenu {
    border: none;
    background: none;
    font-size: 30px;
    font-weight: bold;
    padding: 0px 5px;
    cursor: pointer;
    display: none;
    cursor: pointer;
}

@media only screen and (max-width: 1139px) {
    #openMenu, #closeMenu {
        display: block;
    }

    #closeMenu {
        position: absolute;
        right: 15px;
        top: 25px;
        display: none;
    }

    nav {
        position: fixed;
        flex-direction: column;
        width: 110%;
        height: 3000px;
        align-items: center;
        justify-content: center;
        margin: 0;
        display: none;
        background-color: rgba(143, 135, 135, 0.959);
        z-index: 0;
    }

    #searchmenu {
        display: none;
    }

    #letters {
        position: absolute;
        top: 16%;
        left: 5%;
        max-width: 500px;
    }

    #main-letters {
        font-size: 40pt;
        font-weight: bold;
    }
    .down-letters {
        width: 300px;
    }
    #oculto {
        display: flex;
        gap: 1%;
        flex-direction: column;
        width: 100%;
    }
}

@media only screen and (max-width: 880px) {
    #lupa {
        display: inline;
    }

    #letters {
        position: absolute;
        top: 12%;
        left: 5%;
        max-width: 300px;
    }

    #main-letters {
        font-size: 28pt;
        font-weight: bold;
    }

    .down-letters {
        width: 300px;
        font-size: 10pt;
    }
}

@media only screen and (max-width: 714px) {
    #main-letters {
        font-weight: 20pt;
    }

    .down-letters {
        width: 180px;
        font-size: 9pt;
    }
}

@media only screen and (max-width: 675px) {
    #set-off {
        display: none;
    }
    #letters {
        position: relative;
    }

    #main-letters {
        margin-top: -20px;
        width: 90vw;
        margin: auto;
    }

    .down-letters {
        width: 80vw;
        text-align: center;
        margin-bottom: 30px;
    }
    #btnBuy {
        width: 450px;
        margin: auto;
    }
    #information {
        display: flex;
        justify-content: center;
        width: 80vw;
    }
    .call-letters {
        background-color: rgba(128, 128, 128, 0.233);
        padding-bottom: 30px;
    }
    #produtos {
        gap: 5px;
    }
    #roupas {
        height: 120px;
    }

    #mais {
        display: block;
        
    }
    .mais {
        width: 400px;
    }
    #oculto {
        display: none;
    }
    #marcas > img {
        width: 116.74px;
    }
}
/*Conteúdo Adiciconal*/
aside {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 100%;
    flex-wrap: wrap;
}
/*Trabalhando com o Navegador de Roupas*/
#allDress {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    background-color: #F0F0F0;
    border-radius: 40px;
    justify-content: center;
    align-items: center;
    width: 90%;
    gap: 15px;
}
#informal {
    display: flex;
    background-color: white;
    border-radius: 20px;
    height: 289px;
    flex-basis: 407px;
    width: 100%;
}
#formal {
    display: flex;
    flex-basis: 684px;
    background-color: white;
    border-radius: 20px;
    height: 289px;
    width: 100%;
}
#festa {
    display: flex;
    background-color: white;
    flex-basis: 684px;
    border-radius: 20px;
    height: 289px;
}
#ginasio {
    display: flex;
    background-color: white;
    border-radius: 20px;
    flex-basis: 407px;
    height: 289px;
}
.dressInformation {
    padding: 20px;
    font-weight: bold;
    font-size: 25pt;
}

/*Eleborando os Comentários*/
#comebtn {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 50px 20px;
}
#btnTrocar {
    display: flex;
    gap: 10px;
    margin-right: 50px;
}
.btnTrocar {
    border: none;
    background: transparent;
    font-weight: 700;
    font-size: 40px;
    cursor: pointer;
}
section {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    flex-direction: row;
}
#comentariosGeral {
    display: flex;
    gap: 10px;
    margin: 50px auto;
    max-width: 90%;
    overflow: auto;
    justify-content: center;
    align-items: center;
    overflow: auto;
}
#comentariosGeral::-webkit-scrollbar {
    display: none;
}
#comenTitu {
    display: flex;
    width: 100%;
    text-align: center;
    margin-left: 50px;
    font-weight: 700;
    font-size: 48px;
}
.comentarios {
    flex-direction: column;
    border: 1px solid rgba(0, 0, 0, 0.144);
    height: 240px;
    padding: 28px 32px;
    border-radius: 20px;
    flex: 0 0 400px;
}
.compradores {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 15px;
}
.opniaoClientes {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/*Trabalhando a parte da Subiscrição*/
#subiscricacao {
    display: flex;
    flex-wrap: wrap;
    background-color: black;
    color: white;
    border-radius: 30px;
    padding: 36px 64px;
    width: 80%;
    margin: auto;
    justify-content: space-between;
}
/*o Input do Email*/

#divulOfertas {
    display: flex;
    font-size: 40px;
    width: 450px;
}
#inputEmailBotao {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    align-items: center;
    flex-basis: 30%;
    height: 100%;
    margin-left: 50px;
}
#inputEmail {
    display: flex;
    flex: 1 1 100%;
    background-color: white;
    border-radius: 20px;
    padding: 10px 0px 0px 15px;
    margin-bottom: 10px;
    height: 40px;
    justify-content: center;
    align-items: center;
}
#realInput {
    border: none;
    background-color: transparent;
    outline: none;
    margin-bottom: 5px;
    width:80%;
    height: 100%;
    margin-left: 25px;
}
#bigSubmit {
    display: flex;
    flex: 1 1 100%;
    border-radius: 30px;
    background-color: white;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}
#submit {
    border: none;
    background: transparent;
    color: black;
    padding: 10px;
    cursor: pointer;
}
/*Rodapé*/
footer {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    background-color: white;
    margin-left: 10px;
}
#icon2 {
    width: 100%;
}
.redeSociais {
    width: 28px;
    height: 28px;
    margin: 2px;
}
.cartoes {
    width: 46.61px;
    height: 30.03;
}
picture {
    width: 100vw;
    display: flex;
    justify-content: right;
    align-items: start;
}
/*Informações da Empresa*/
article {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 50px;
    margin-top: 10px;
}
.grelha {
    display: flex;
    flex-direction: column;
    gap: 20px;
    height: 248px;
    width: 177px;
}
#reservados {
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 100px;
}