@charset "UTF-8";

* {
    margin: 0%;
    padding: 0%;
}

header {
    min-width: 100vh;
}

/*Criando a parte de cima do cabeçalho*/
.invite {
    background-color: black;
    color: white;
    text-align: center;
    padding: 5px;
}

a {
    color: white;
}

/*Criando o navegador*/
.container {
    display: grid;
    grid-template-columns: 1fr 2fr 3fr;
    margin: auto;
    width: 1240px;
    height: 48px;
    justify-content: space-between;
    padding: 8px;
    align-items: center;
}

ul {
    display: flex;
    list-style-type: none;
}

.menu {
    margin-right: 15px;
    text-decoration: none;
    color: black;
}

/*Criando a barra de pesquisa*/

.barra {
    display: flex;
    align-items: center;
    background-color: #f2f2f2;
    border-radius: 50px;
    padding: 0 24px;
    height: 52px;
    gap: 16px;
    width: 500px;
}

#search {
    width: 100%;
    outline: none;
    border: none;
    background: transparent;
}

#button {
    outline: none;
    border: none;
    background: transparent;
    text-decoration: none;
}

.search-login {
    display: flex;
    gap: 8px;
    align-items: center;
}

/*Fundo diferente*/
.atration {
    flex-wrap: wrap;
    padding-top: 20px;
}

/*Fazendo a imagem ficar por baixo do parágrafo*/
#coupleImage {
     width: 100%;
}


.under {
    position: relative;
    width: 100%;
}

.under img {
    width: 100%;
    height: 100%;
    display: block;
}

.text-up-image {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: black;
    font-weight: bold;
} 

/*Parágrafo Chamativo*/
.atention {
    margin-bottom: 10px;
    margin-top: 10px;
    font-size: 50px;
    font-weight: 900;
    width: 600px;
    padding-left: 20px;
}

/*Parágrafo abaixo do chamativo*/
.descrition {
    display: flex;
    padding: 0px 800px 0px 20px;
    
}

/*Botão Shop Now*/
.buy {
    display: inline-block;
    background-color: black;
    width: 210px;
    height: 52px;
    padding: 5px 30px;
    border-radius: 60px;
    font-family: sans-serif;
    font-weight: 500;
    font-size: 16px;
    margin-top: 15px;
    color: white;
    text-align: center;
    margin: 10px;
    font-size: 14px;
    text-align: center;
    border: none;
}
a {
    text-decoration: none;
}
/*Organizando as informações de confiança*/
.container-2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
}

.especification {
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-evenly;
    padding-right: 50px;
}
ul > div {
    padding-right: 50px;
}
.align {
    display: flex;
    padding-left: 20px;
    font-size: 25px;
    font-weight: 80;
}
.inlet {
    background-color: rgba(0, 0, 0, 0.242);
    height: 70px;
    color: rgba(0, 0, 0, 0);
    margin-bottom: 5px;
    border-radius: 10px;
    margin-right: 12px;
}

div {
    padding-bottom: 15px;
}

/*Trabalhando com as marcas*/
.mark {
    display: flex;
    margin:auto;
    height: 30px;
    background-color: black;
    padding: 15px;
    justify-content: space-evenly;

}

.item {
    color: white;
    justify-content: center;
    align-items: center;
}
/*Fonte da Versace*/
.font-01 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
}
/*Fonte da Zara*/
.font-02 {
    
}
/*Fonte da Gucci*/
.font-03 {
    
}
/*Fonte da Prada*/
.font-04 {
    font-family: 'Times New Roman', Times, serif;
    font-weight: 800;
}
/*Fonte da Calvin Klein*/
.font-05 {
    font-family: Didot;
    font-weight: 100;
}

/*Criando as estruturas das roupas*/
.dress {
    background-color: rgba(128, 128, 128, 0.263);
    height: 340px;
    width: 350px;
    border-radius: 20px;
    border-left: 15px;
    border: 1px solid rgba(0, 0, 0, 0.157);
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.394);
    margin-left: 10px;
    margin-bottom: 70px;
}

main > div {
    margin-top: 20px;
}


.drips {
    display: flex;
    justify-content: space-evenly;

}

.price {
    font-size: 20px;
    font-weight: 700;
    margin-top: 5px;
}

/*Organizando os subtítulos*/
.title {
    text-align: center;
    font-size: 30px;
    margin-top: 15px;
    text-shadow: 1px 1px 1px  rgba(0, 0, 0, 0.393);
}

/*Botão View All*/
.more-information {
    background-color: white;
    text-align: center;
    border-radius: 20px;
    border: 1px solid rgba(0, 0, 0, 0.246);
    padding: 10px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.418);
    width: 400px;
    margin-left: 35%;
    text-align: center;
    margin-top: 20px;
}

h3 > a {
    color: black;
}

/*Trabalhando as Categorias*/
.all-category {
    background-color: rgba(128, 128, 128, 0.372);
    border-radius: 30px;
    margin: 50px 70px;
    box-shadow: 1px 1px 1px black;
    width: 1220px;
}

.category {
    display: flex;
    justify-content: space-between;
    background-color: white;
    width: 500px;
    border: 1px solid rgba(0, 0, 0, 0.326);
    border-radius: 30px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.324);
    margin: 5px 10px;
}

.category-text {
    padding: 20px;
    font-size: 30px;
    
}

.board {
    display: flex;
}

.partygym {
    display: flex;
} 

/*Trabalando nos Comentários*/
.customers {
    box-shadow: 1px 1px 1px black;
    border: 1px solid rgba(0, 0, 0, 0.168);
    width: 400px;
    height: 130px; 
    border-radius: 15px;
    margin: 10px;
    padding: 10px;
}

.litle-text {
    font-family: 'Courier New', Courier, monospace;
    font-size: small;
}

.customers-name {
    font-weight: 600;
}

#all-customers {
    display: flex;
    flex-wrap: wrap;
}

/*Rodapé*/
/*Caixa de Subscrição*/
#subscribe {
    display: flex;
    justify-content: space-between;
    background-color: black;
    height: 150px;
    width: 1200px;
    color: white;
    border-radius: 20px;
    margin: 10px 30px 10px 60px;
    padding: 20px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.383);
}

.stay {
    font-weight: 900;
    padding-top: 20px;
    font-size: 2em;
    width: 400px;
}

.registe {
    display: flex;
    flex-direction: column;

}

.inside {
    background-color: white;
    color: rgba(0, 0, 0, 0.338);
    padding: 5px;
    border-radius: 20px;
    margin: 10px 5px;
    width: 250px;
    height: 30px;
    text-align: center;
}
