@charset "UTF-8";
/*Configurações Globais*/
* {
    margin: 0;    
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex: 1 1 100vw;
    flex-wrap: wrap;
    flex-direction: row;
}

/*Cabelçalho*/
#set-off {
    flex: 1 1 100vw;
    background-color: black;
    color: white;
    padding: 5px;
    text-align: center;
}
/*Botão para remover a promoção*/
#proposal {
    width: 100%;    
}
#remove {
    background: transparent;
    color: white;
    border: none;
    margin-left: 30px;
    font-size: 15pt;
    cursor: pointer;
}

/*Marca e Botão*/
#marcaBotao {
    display: flex;
    flex-direction: row;
}
/*Icon de Usuário e compras*/
.icon {
    margin: 5px 10px;
    font-weight: bold;
}
/*id do link dentro do parágrafo*/
#i-link {
    color: white;
    padding-left: 5px;
}

header {
    flex-wrap: wrap;
    display: flex;
    flex: 1 1 100vw;
    justify-content: space-between;
}
/*Logo*/
h1 {
    color: black;
    padding-left: 10px;
    width: 150px;
}
/*Menu*/
nav {
    color: black;
    margin:5px 20px 10px 0px;
    font-size: 15pt;
}
nav > a {
    margin: 5px 10px 0px 10px;
    text-decoration: none;
    color: black;
}
/*Barra de Pesquisa*/
/*Div que contém o botão e o input de pesquisa*/
#ucp {
    display: flex;
    flex-direction: row;
}

#searchmenu {
    width: 400px;
    position: relative;
    background-color: rgba(211, 199, 199, 0.308);
    padding: 3px 10px;
    border-radius: 20px;
    margin: 5px 20px;
    height: 35px;    
}
/*Botão com a imagem de Lupa*/
#lupa {
    display: none;
}

button#search {
    outline: none;
    border: none;
    background: transparent;
    cursor: pointer;    
}
/*Input da barra de pesquisa*/
#inletsearch {
    border: none;
    outline: none;
    flex-grow: 1;
    flex-shrink: 1;
    color: black;
    position: absolute;
    top: 25%;
    left: 40px;
    background: transparent;
}
/*Conteúdo do site*/
main {
    display: flex;
    flex: 1 1 100vw;
    flex-wrap: wrap;
    flex-direction: column;
}
/*Trabalhando as imagens*/

#coupleImage {
    max-width: 100%;
    height: auto;
    display: block;
}
#call-letters {
    position: relative;
    background-color: rgba(128, 128, 128, 0.219);
}

#letters {
    position: absolute;
    top: 20%;
    left: 5%;
    max-width: 650px;
}

#main-letters {
    font-size: 45pt;
    font-weight: bold;
}
.down-letters {
    width: 500px;
}
/*Botão de comprar agora*/
#btnBuy {
    border: none;
    background: transparent;
    color: white;
    background-color: black;
    padding: 0 40px;
    height: 50px;
    border-radius: 30px;
    width: 200px;
    margin-left: 20px;
    margin-top: 20px;
    cursor: pointer;
}
/*Informações sobre o alcance das marcas*/
#information {
    display: flex;
    width: 100vw;
    margin: auto;
    gap: 23px;
    font-size: 15pt;
    flex-wrap: wrap;
    margin: 20px 0px;
}

/*Trabalhando com as Marcas*/
#marcas {
    background-color: black;
    color: white;
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
    padding: 20px;
    gap: 40px;
    justify-content: center;
}
.marca {
    font-size: 15pt;
    padding: 0px 20px;
}
/*Trabalhando com os produtos*/
h2 {
    text-align: center;
    font-size: 30pt;
    margin: 80px 0px 30px 0px;
}
#produtos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 25px;
}
.produtos {
    background-color: rgba(128, 128, 128, 0.24);
    width: 250px;
    height: 280px;
    border-radius: 20px;
    margin-top: 10px;
}
.roupas {
    width: 250px;
}
.descrition {
    margin: 10px;
}
/*Trabalhando com o Ver mais*/
#mais {
    border: 1px solid rgba(0, 0, 0, 0.356);
    text-align: center;
    padding: 10px;
    width: 400px;
    margin: auto;
    border-radius: 20px;
    display: none;
    background: transparent;
    cursor: pointer;
}

#openMenu, #closeMenu {
    border: none;
    background: none;
    font-size: 30px;
    font-weight: bold;
    padding: 0px 5px;
    cursor: pointer;
    display: none;
    cursor: pointer;
}

@media only screen and (max-width: 1139px) {
    #openMenu, #closeMenu {
        display: block;
    }

    #closeMenu {
        position: absolute;
        right: 15px;
        top: 25px;
        display: none;
    }

    nav {
        position: fixed;
        flex-direction: column;
        width: 100vw;
        height: 100vh;
        align-items: center;
        justify-content: center;
        margin: 0;
        display: none;
        background-color: rgba(255, 255, 255, 0.966);
    }

    #searchmenu {
        display: none;
    }

    #letters {
        position: absolute;
        top: 16%;
        left: 5%;
        max-width: 500px;
    }

    #main-letters {
        font-size: 40pt;
        font-weight: bold;
    }
    .down-letters {
        width: 300px;
    }
}

@media only screen and (max-width: 880px) {
    #lupa {
        display: inline;
    }

    #letters {
        position: absolute;
        top: 12%;
        left: 5%;
        max-width: 300px;
    }

    #main-letters {
        font-size: 28pt;
        font-weight: bold;
    }

    .down-letters {
        width: 300px;
        font-size: 10pt;
    }
}

@media only screen and (max-width: 714px) {
    #main-letters {
        font-weight: 20pt;
    }

    .down-letters {
        width: 180px;
        font-size: 9pt;
    }
}

@media only screen and (max-width: 675px) {
    #letters {
        position: relative;
    }

    #main-letters {
        margin-top: -20px;
        width: 90vw;
        margin: auto;
    }

    .down-letters {
        width: 80vw;
        text-align: center;
        margin-bottom: 30px;
    }
    #btnBuy {
        width: 450px;
        margin: auto;
    }
    #information {
        display: flex;
        justify-content: center;
        width: 80vw;
    }
    .call-letters {
        background-color: rgba(128, 128, 128, 0.233);
        padding-bottom: 30px;
    }
    #produtos {
        gap: 5px;
    }
    #roupas {
        height: 120px;
    }

    #mais {
        display: block;
    }
    .oculto {
        display: none;
    }
}
/*Conteúdo Adiciconal*/
aside {
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    max-width: 100%;
}
/*Trabalhando com o Navegador de Roupas*/
#allDress {
    box-sizing: border-box;
    display: flex;
    flex: 1 1;
    flex-wrap: wrap;
    background-color: rgba(128, 128, 128, 0.315);
    border-radius: 30px;
    padding: 20px;
    margin: 30px 5%;
    justify-content: center;
    align-items: center;
    margin: auto;
}
#informal {
    display: flex;
    background-color: white;
    margin: 10px;
    border-radius: 30px;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.616);
    flex-basis: 550px;
}
#formal {
    display: flex;
    flex-basis: 450px;
    background-color: white;
    margin: 10px;
    border-radius: 30px;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.616);
}
#festa {
    display: flex;
    background-color: white;
    width: 450px;
    margin: 10px;
    border-radius: 30px;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.616);
}
#ginasio {
    display: flex;
    background-color: white;
    margin: 10px;
    border-radius: 30px;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.616);
    flex-basis: 550px;
}
.dressInformation {
    padding: 20px;
    font-weight: bold;
    font-size: 25pt;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.616);
}

/*Rodapé*/
footer {
    display: flex;
    flex: 1 1 100vw;
    height: 100px;
    background-color: black;
}
